*, *::after, *::before { margin: 0; padding: 0; box-sizing: border-box;}

/* Div.slider */

div.slider {
    /* Dimensions */
    width: 100%;
    /* max-height: 500px; */

    Padding: 10px;
    

    /* Backgrounds */
    background: #150050; /* Experimental */

    overflow-x: scroll;
    position: relative;
}

div.slider::-webkit-scrollbar {
    height: 3px;
}

div.slider::-webkit-scrollbar-thumb {
    width: 2px;

    background: #f46;

}

div.slider div.atrasBoton {
    height: 10%;
    /* padding: 10px; */
    position: fixed;
    top: 50%;
    left: 0;
    z-index: 3;
    display: flex;
    align-items: center;
}

div.slider div.luegoBoton {
    height: 10%;
    /* padding: 10px; */
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 3;
    display: flex;
    align-items: center;
}

div.luegoBoton, div.atrasBoton {
    border-radius: 50%;
    background: #000;
    color: #fff;
    font-size: 2em;

    width: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

}


div.slider > div.carrusel {
    min-width: 100%;
    height: 100%;
    

    /* display */
    display:inline-flex;
    flex-wrap: nowrap;


}

div.slider div.element {
    /* Dimensions  */
    width: 90vw; 
    min-height: 200px; /* Experimental */

    margin-right: 10px;

    /* Background */
    /* background: #3F0071;Experimental */

    /* Display */
    display: inline-block;

    /* position */
    position: relative;
}

div.element h3 {
    color: #fff;
    text-align: center;
}

div.slider div.element:last-child {
    margin-right: 0px;
}


@media only screen and (min-width: 576px) {
    div.slider div.element {
        width: 45vw;
    }
}

@media only screen and (min-width: 768px) {
    div.slider div.element {
        width: 30vw;
    }
}

@media only screen and (min-width: 992px) {
    div.slider div.element {
        width: 22vw;
    }
}