*, *::after, *::before { margin: 0; padding: 0; box-sizing: border-box;}

/* Div.slider */
body {
    overflow-x: hidden;
}

div.slider {
   /* Backgrounds */
    background: #150050; /* Experimental */
    position: relative;
    width: 100%;
}


div.botones {
    width: 100%;

    position: absolute;
    top: 45%;
    left: 0;

    z-index: 10;
}


.atras, .luego {
    width: 30px;
    height: 30px;
    
    background: #000;
    position: absolute;

    color: #fff;

    border-radius: 50%;
    cursor: pointer;

    /* Displays */
    display: flex;
    align-items: center;
    justify-content: center;
}

.atras {
    left: 0;
    transform: translateX(-50%);
}

.luego {
    right: 0;
    transform: translateX(50%);

}


div.contenedor-carrusel::-webkit-scrollbar {
    height: 3px;
}

div.contenedor-carrusel::-webkit-scrollbar-thumb {
    width: 2px;
    background: #f46;
}

div.contenedor-carrusel {
    /* Dimensions */
    width: 100%;
    min-height: 180px;

    Padding: 10px;
    overflow-x: scroll;
}

div.contenedor-carrusel > div.carrusel {
    min-width: 100%; /* Experimental */
    height: 100%;
    
    /* display */
    display:inline-flex;
    flex-wrap: nowrap;
}

div.slider div.element {
    /* Dimensions  */
    width: 90vw; 
    min-height: 200px; /* Experimental */

    margin-right: 10px;

    /* Background */
    /* background: #3F0071;Experimental */

    /* Display */
    display: inline-block;

    /* position */
    position: relative;
}

div.element h3 {
    color: #fff;
    text-align: center;
}

div.slider div.element:last-child {
    margin-right: 0px;
}


@media only screen and (min-width: 576px) {
    div.slider div.element {
        width: 45vw;
    }
}

@media only screen and (min-width: 768px) {
    div.slider div.element {
        width: 30vw;
    }
}

@media only screen and (min-width: 992px) {
    div.slider div.element {
        width: 22vw;
    }
}